#root .ant-layout {
    background: #fff !important;
    padding-left: 60px;
    padding-right: 30px;
}

.shared-video-header {
  &.ant-layout-header {
    width: 100%;
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
    background: #fff;
    // border-bottom: 2px solid black;
  }
}

.shared-vide-row {
    height: inherit !important;
}

.shared-video-row div {
    height: inherit !important;
}

.shared-video-input {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

.shared-video-button-login {
    height: 40px;
    margin-top: 5px;
}

.shared-video-button-logout {
    height: 40px;
    margin-top: 5px;
    margin-right: 30px;
}

.shared-video-button-share-movie {
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

.shared-video-name-site {
    font-size: 40px;
    font-weight: 600;
}

.shared-video-logo {
    font-size: 50px;
}

.shared-video-span-welcome {
    margin-right: 10px;
    margin-top: -5px;
}
