.shared-video-up-like {
    font-size: 40px;
}

.shared-video-card-title {
    max-width: 100%;
    color: #d25757e0 !important;
}

.shared-card-btn-dislike {
    float: right;
    margin-top: -45px;
    padding-right: 42px;
}

.shared-card-btn-like {
    float: right;
    margin-top: -45px;
}